.welcome-window__form {
  margin-top: 50px;
  max-width: 358px;
  width: 100%;
}

@media screen and (max-width: 696px) {
  .welcome-window__form {
    margin-top: calc(39px + (11 + 11 * .7) * (100vw - 320px) / 696);
  }
}
