.header__burger {
  display: none;
  margin: 4px 0 0;
  padding: 0;
  width: 24px;
  height: 21px;
  background-color: transparent;
  border: none;
  flex-wrap: wrap;
  cursor: pointer;
}

.header__burger.active > .header__burger-line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header__burger.active > .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger.active > .header__burger-line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media screen and (max-width: 696px) {
  .header__burger {
    display: block;
  }
}
