.welcome-window {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 696px) {
  .welcome-window {
    margin-top: calc(40px + (20 + 20 * .7) * (100vw - 320px) / 696);
    margin-right: calc(30px + (-30 -30 * .7) * (100vw - 320px) / 696);
    margin-left: calc(30px + (-30 -30 * .7) * (100vw - 320px) / 696);
  }
}
