.header {
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-top: calc(28px + (17 + 17 * .7) * (100vw - 320px) / 1279);
    padding-bottom: calc(30px + (10 + 10 * .7) * (100vw - 320px) / 1279);
  }
}

@media screen and (max-width: 696px) {
  .header {
    padding-left: calc(30px + (11.813 + 11.813 * .7) * (100vw - 320px) / 696);
    padding-right: calc(30px + (11.813 + 11.813 * .7) * (100vw - 320px) / 696);
  }
}
